#root, html, body{
    height: 100%;
    overflow: hidden;
}

h1{
    color: white;
    font-size: 100px;
}

#containerSongList{
    background-color: rgb(40, 51, 61);
    margin-top: 3%;
    width: 100%;
    border-radius: 40px;
    height: 95%;
    text-align: center;
}

#addSongButton{
    font-size: 20px;
    margin-top: 8%;
    height: 10%;
    width: 12%;
    background-color: rgb(172, 88, 99);
    border: none;
}

#addSongButton:hover{
    background-color: rgb(196, 122, 132); 
}

#table{
    text-align: left;
    width: 45%;
    margin-left: 10%;
    margin-top: 3%;
}